.formio-form{
  nav{
    margin-top:1.5rem;
    @include media-breakpoint-up(md) {
      margin-top:0;
    }
    border-radius:0;
    border:0;
    background:$mtvh-stone;   
    h5{
      font-family: $headings-font-family;
      font-weight: $headings-font-weight;
    }
    ul.mtvh-ul{
      display:inline-block;
      padding:0;
      margin:0;
      padding-left: 0.9rem;
      list-style:none;
      position: relative;
      margin-top: 6px;

      li:before{ 
        font-size: 2rem;
        display:block;
        float:left;
        margin-top: -3px; 
        margin-left: -2.0rem;
        margin-right: 0;
        transition: background-size 0.3s;
        -webkit-transition: background-size 0.3s;
        font:$fontAwesome;
        border:2px solid;
        border-radius:5rem;
        height:30px;
        width:30px;
        padding: 3px;
        color:#fff;
      }
      li.page-item{
        padding:0 0 1rem 1rem;
        border-left: 2px solid $mtvh-stone-dark;
        &:before{
          border-color:$mtvh-green-darker;
          background:$mtvh-green-darker;
          content: '\f00c';
        }
        span,a{
          top: -1px;
          left: 10px;
          position: relative;
          font-weight:normal;
          color: $body-color!important;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      li.page-item.active{
        color:$body-color;
        &:before{
          border-color:#fff;
          background: $body-color;
          content: '';
          //outline: 5px solid $mtvh-yellow;
          //outline-offset: 0;
          -webkit-box-shadow: 0 0 0 5px $mtvh-yellow;
          box-shadow: 0 0 0 5px $mtvh-yellow;
        }
      }
      li.page-item.active ~ * {
        font-weight:normal;
        color:$body-color;
        &:before{
          border-color: $mtvh-stone-dark;
          background:$mtvh-stone-dark; 
          content: '';
        }
      }
      li:last-child{
        border-left: 2px solid rgba(255, 0, 0, 0);
        padding-bottom:0;
      }
    }
  }
}

/* Wizard buttons - e.g cancel, previous, next, submit */
.formio-wizard-nav-container {
  flex-direction: row;
  li {
    margin-right: 0.5rem;
    .btn{
      width: auto;
      margin-bottom: auto;
    }
  }
}
