.formio-form{

  //Standard links in main content area
  a:not(.btn):not(.card) {
    text-decoration: underline;
    color:$mtvh-link-default;
    font-weight: 600;
    &:visited{color:$mtvh-link-visited;}
    &:hover{color:$mtvh-link-hover;}
    &:focus{
      outline: 3px solid #f8d643;
      outline-offset: 0;
      background: #f8d643;
    }
  }

  button.btn{
    font-family: $font-family-base;
    font-weight: 600;
    font-size: $font-size-base;
    text-decoration: none;
    border-radius: 1.5rem;
    border-width:2px;
    &:not(.btn-sm){
      //display:block;
      display:inline-block;
      //margin: 0 auto;
      //width:50%;
      min-width: 150px;
      @include media-breakpoint-up(sm) {
        //display:inline-block;
        //width:auto; 
        //margin: 0;
        //min-width: 150px;
      }
    }
    &.btn-sm{
      font-weight:600;
    }
    &.btn-xs{
      font-weight:600;
      padding:0;
      border:0!important;
      color:$mtvh-link-default!important;
      text-decoration: underline!important;
      background: none!important;
      border: 0!important;
      margin: 0!important;
      width: auto!important;
    }
    &:hover{text-decoration: underline!important;}
    &:focus{
      border-color:#000;
      //outline: 3px solid $mtvh-focus;
      //outline-offset: 0;
      -webkit-box-shadow: 0 0 0 3px $mtvh-focus;
      box-shadow: 0 0 0 3px $mtvh-focus;
    }
    &.btn-primary{
      border-color:$mtvh-link-default;
      background:$mtvh-link-default;
      &:hover {
        border-color:$mtvh-link-hover;
        background:$mtvh-link-hover;
      }
      &:active {
        border-color:$mtvh-link-click;
        background:$mtvh-link-click;
      }
    }

    &.btn-secondary{
      color: $body-color;
      background-color: #fff;
      border-color: $body-color;
      width:auto;
      margin:0;
      &:hover {
        border-color:$mtvh-link-hover;
        color:$mtvh-link-hover;
      }
      &:active {
        color: $body-color;
        background-color: #fff;
        border-color:$mtvh-link-click;
        color:$mtvh-link-click;
      }
    }

  }

}