//New Colours
$mtvh-stone:#F9F2EA;
$mtvh-stone-dark: darken($mtvh-stone,6%);
$mtvh-green:#5eaf4b;
$mtvh-yellow:#e8c426;
$mtvh-yellow-light:#f8d643;
$mtvh-rose: #fa3d54;
$mtvh-grey: #545454; //No real need to use currently

$body-color: #000;
$form-placeholder: lighten($body-color, 25%);

$mtvh-link-default:#0072bf;
$mtvh-link-hover:#005792;
$mtvh-link-click:#00385e;
$mtvh-link-visited:#7e54c2;

$mtvh-focus:$mtvh-yellow-light;

$mtvh-error: #db070c;

$form-line-color: #ced4da;
$mtvh-check-fill: $body-color;

//Fonts
$font-size-base: 18px;
$font-family-base: Arial,sans-serif;
$headings-font-family: 'Paralucent W05 Demi Bold',Arial,sans-serif;
$headings-font-weight: 600;
$fontAwesome: normal normal normal 20px/1 FontAwesome;

//Grid
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1280px
) !default;