.formio-form{

  /////////////////////////////// General Styling

  &,label{
    font-family:$font-family-base;
    font-size: $font-size-base;
    color:$body-color;
  }

  h1{
    font-family: $headings-font-family;
    font-weight: 600;
    line-height: 1.1;
    margin: 0;
    padding-top: 0;
    padding-bottom: 1.2rem;
    @include media-breakpoint-up(sm) {
      padding-bottom: 2rem;
    } 
  }

  .mtvh-none{
    display:none;
  }

  /////////////////////////////// Component - General Styling

  div.formio-component{
    
    margin-bottom:3rem;
    @include media-breakpoint-up(sm) {
      margin-bottom:4rem;
    } 

    &.formio-hidden{
      margin-bottom:0;
    }
    
    &.formio-component-button,&.formio-component-form{
      margin-bottom:0rem;
    }

    //Label
    //.col-form-label:not(.fileName):not(.fileSize){
    .col-form-label {
      font-family: $font-family-base;
      font-weight: 600;
      font-size: 1.4rem;
      margin-bottom: 0.75rem;
      padding-top: 0;
      padding-bottom: 0;
      line-height:1.2;
      @include media-breakpoint-up(sm) {
        font-size: 1.6875rem;
      } 
      .optional-question{
        display:block;
        font-size: 1.2rem;
        margin-top: 0.25rem;
        font-family: $font-family-base;
        font-weight:400;
      }
    }

    //Description
    .form-text{
      margin: -6px 0 0.85rem 0;
    }

    //Sub Components
    // Removed as affected nested forms
    /*
    div.formio-component-form div.formio-component{
      margin-bottom:1rem;
      .col-form-label{
        font-size:1.2rem;
        @include media-breakpoint-up(sm) {
          font-size: 1.3rem;
        } 
      }
    }
    */

  }

  //Remove padding from last child
  div.formio-component-form{
    & .formio-component:last-child {
        margin-bottom:0px!important;    
    }
  }

  /////////////////////////////// Form Control

  .form-control{
    color:$body-color;
    font-size: $font-size-base;
    border: 2px solid $form-line-color;
    border-radius: 0;
    
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $form-placeholder;
      //opacity:0.7;
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $form-placeholder!important;
      font-weight:400!important;
      //opacity:0.7;
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
      color: $form-placeholder!important;
      font-weight:400!important;
      //opacity:0.7;
    }

    height:auto;
    padding:0.75rem;
    outline: none;//!important;
    box-shadow:none;// !important;
    /*
    &:focus{
      outline:none!important;border:2px solid $mtvh-focus !important;
    }
    */
    &:focus{
      border-color:#000;
      outline: 3px solid $mtvh-focus;
      outline-offset: 0;
    }
  }

  //For IE11 fix on inputs
  input.form-control{
    line-height: 1rem;
  }

  /////////////////////////////// Errors

  //Remove mandatory question star *
  .field-required:after{
    //content:'';
    color:$mtvh-rose;
  }

  .formio-error-wrapper,.has-error {
    color:$body-color!important;
    background: none!important;
    border:none;
    border-left: 6px solid $mtvh-error!important;
    padding:0!important;
    padding-left:1rem!important;
  }
  .form-control.is-invalid{
    border-color: $mtvh-error;
  }
  input.is-invalid + span::before{
    border-color: $mtvh-error!important;
  }
  input.is-invalid + input.form-control{
    border-color: $mtvh-error!important;
  }
  .form-text.error{
    margin:0!important;
    color: $mtvh-error!important;
    font-weight:bold;
    font-size:1rem!important;
  }
  .formio-errors.invalid-feedback{
    margin-top:0.75rem!important;
  }
  //Extra error styling for custom checkboxes and radio
  .formio-component-selectboxes,.formio-component-checkbox,.formio-component-radio{
    .formio-errors.invalid-feedback{
      margin-top:1rem!important;
    }
  }

  /////////////////////////////// Width defaults and helper classes for non full width fields

  .formio-component-mtvhAddress div#postCodeSection{
    .form-control{
      width:140px;
    }
  }

  @include media-breakpoint-up(sm) {

  .formio-component-textfield, .formio-component-aSelectList, .formio-component-select2, .formio-component-aCalendarPicker, .formio-component-email, .formio-component-phoneNumber, .formio-component-number, .formio-component-password{
      .form-control:not(.dropdown),.formio-choices, .input-group{
        width:50%;
      }
      &.w100{
        .form-control{
          width:100%;
        }
      }
      &.w75{
        .form-control{
          width:75%;
        }
      }
      &.w25{
        .form-control{
          width:25%;
        }
      }
    }
    .formio-component-day{
      .row{
        width:370px;
      }
    }
  }

  /////////////////////////////// 

}