div.mtvh_formio{
  nav{
    margin-top:1.5rem;
    @include media-breakpoint-up(sm) {
      margin-top:0;
    }
    border-radius:0;
    border:0;
    background:$mtvh-lime-light;   
    h5{
      font-family: $headings-font-family;
      font-weight: $headings-font-weight;
    }
    ul.mtvh-ul{
      display:inline-block;
      padding:0;
      margin:0;
      padding-left: 0.9rem;
      list-style:none;
      position: relative;
      margin-top: 6px;

      li:before{ 
        font-size: 2rem;
        display:block;
        float:left;
        margin-top: -3px; 
        margin-left: -2.0rem;
        margin-right: 0;
        transition: background-size 0.3s;
        -webkit-transition: background-size 0.3s;
        font:$fontAwesome;
        border:2px solid;
        border-radius:5rem;
        height:30px;
        width:30px;
        padding: 3px;
        color:#fff;
      }
      li.page-item{
        padding:0 0 1rem 1rem;
        border-left: 2px solid $mtvh-lime-light-dark;
        &:before{
          border-color:$mtvh-green;
          background:$mtvh-green;
          content: '\f00c';
        }
        span{
          top: -1px;
          left: 10px;
          position: relative;
        }
      }
      li.page-item.active{
        color:$body-color;
        &:before{
          border-color:$mtvh-primary;
          background: $mtvh-primary;
          content: '';
        }
      }
      li.page-item.active ~ * {
        font-weight:normal;
        color:$body-color;
        &:before{
          border-color: $mtvh-lime-light-dark;
          background:$mtvh-lime-light-dark; 
          content: '';
        }
      }
      li:last-child{
        border-left: 2px solid rgba(255, 0, 0, 0);
        padding-bottom:0;
      }
    }
  }
}