<nav aria-label="navigation" class="card card-lime-light card-side" id="{{ ctx.wizardKey }}-header">
  <div class="card-body">
    <h5 class="card-title">Sections</h5>
    <div class="card-text">
      <ul class="mtvh-ul">
        {% ctx.panels.forEach(function(panel, index) { %}
          {% if (panel.breadcrumb !== 'none') { %}
            <li class="page-item{{ctx.currentPage === index ? ' active' : ''}}">
              <a href="#" ref="{{ctx.wizardKey}}-link">{{ctx.t(panel.title)}}</a>
            </li>
          {% } %}
        {% }) %}
      </ul>
    </div>
  </div> 
</nav>
{{ctx.wizard}}