<nav aria-label="navigation" class="card card-lime-light card-side" id="{{ ctx.wizardKey }}-header">
  <div class="card-body">
    <h5 class="card-title">Sections</h5>
    <div class="card-text">
      <ul class="mtvh-ul">
        {% ctx.panels.forEach(function(panel, index) { %}
        <li class="page-item{{ctx.currentPage === index ? ' active' : ''}}">
          <span ref="{{ctx.wizardKey}}-link">{{ctx.t(panel.title)}}</span>
        </li>
        {% }) %}
      </ul>
    </div>
  </div> 
</nav>