{% if (ctx.readOnly === true) { %}
<input value="{% if (ctx.value) { %}{{ctx.value}}{% } else { %}{% } %}" spellcheck="true" lang="en" class="form-control" type="input" name="data[{{ctx.component.key}}]" ref="mtvhContact" readonly>
{% } else { %}
<div>
  <div ref="selectInput">
    <select lang="en" class="form-control mb-1" type="text" id="{{ctx.instance.id}}-{{ctx.component.key}}-selectAddress" ref="existingDetailsDropdown">
      <option value="" selected="selected"></option>
    </select>
    <div class="mt-2"><a ref="switchToFreetext">Switch to text</a></div>
  </div>

  <div ref="manualInput">
    <input ref="newDetailsInput" type='text' placeholder='_____-______' class="form-control mb-1" autocomplete="tel">
    <div ref="inlineValidation"></div>
    <div class="mt-2"><a ref="switchToDropdown">Switch to dropdown</a></div>
  </div>

  <input value="{% if (ctx.value) { %}{{ctx.value}}{% } else { %}{% } %}" spellcheck="true" lang="en" class="form-control" type="hidden" name="data[{{ctx.component.key}}]" ref="mtvhContact">
</div>
{% } %}