<ul class="formio-wizard-nav-container list-inline" id="{{ ctx.wizardKey }}-nav">
  {% ctx.buttonOrder.forEach(function(button) { %}
    {% if (button === 'next' && ctx.buttons.next) { %}
    <li>
      <button class="btn btn-primary btn-wizard-nav-next" ref="{{ctx.wizardKey}}-next" aria-label="{{ctx.t('nextButtonAriaLabel')}}">{{ctx.t('Continue')}} &#8594;</button>
    </li>
    {% } %}
    {% if (button === 'submit' && ctx.buttons.submit) { %}
    <li>
      {% if (ctx.disableWizardSubmit){ %}
      <button disabled class="btn btn-primary btn-wizard-nav-submit" ref="{{ctx.wizardKey}}-submit" aria-label="{{ctx.t('submitButtonAriaLabel')}}">{{ctx.t('submit')}}</button>
      {% } else { %}
      <button class="btn btn-primary btn-wizard-nav-submit" ref="{{ctx.wizardKey}}-submit" aria-label="{{ctx.t('submitButtonAriaLabel')}}">{{ctx.t('submit')}}</button>
      {% } %}
    </li>
    {% } %}
  {% }) %}
</ul>

{% if (ctx.buttons.previous) { %}
  {% if (ctx.buttons.submit || ctx.buttons.next) { %}
  <p class="mt-5">
  {% } else { %}
  <p>
  {% } %}
    <a href="#" ref="{{ctx.wizardKey}}-previous" aria-label="{{ctx.t('previousButtonAriaLabel')}}">&#8592; Previous page</a>
  </p>
{% } %}