<div class="{{ctx.className}}">
  {% if (!ctx.panels[ctx.currentPage].hideLabel) { %}
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <h1>{{ctx.panels[ctx.currentPage].title}}</h1> 
      </div>
    </div>  
  {% } %}
  <div class="row">
    <div class="col-md-8">
      <div class="wizard-page" ref="{{ctx.wizardKey}}">
        {{ctx.components}}
        {{ctx.wizardNav}}
      </div>
    </div>    
    <div class="col-md-4">
      {% if (ctx.panels[ctx.currentPage].breadcrumb !== 'none') { %}
        {{ ctx.wizardHeader }}
      {% } %}
    </div>
  </div>
</div>